<a href="https://colab.research.google.com/github/Srushti-1336/Data-Analytics-python/blob/main/Srushti_Patil_Pandas_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
months = ["January","February","March","April","May","June","July","August","September","Octomber","November","December"]

sales = [12000,13500,14200,12800,14000,15500,16200,15800,16500,17800,18500,17200]
displayed_data = pd.Series(sales,index = months, name = "Monthly Sales(USD)")
print(displayed_data)

January      12000
February     13500
March        14200
April        12800
May          14000
June         15500
July         16200
August       15800
September    16500
Octomber     17800
November     18500
December     17200
Name: Monthly Sales(USD), dtype: int64

In [1]:
#imported a python library "pandas" which used for data manipulation & analysis
import pandas as pd

#1D array is created named as days
days = ["Monday", "Tuesday", "Wednesday", "Wednesday", "Thursday", "Friday", "Saturday"]

#here pandas series is created & assigned to a variable "result" it takes days as an input
result = pd.Series(days)

# the code prints the content of the pandas Series to the console using print
print(result)

0       Monday
1      Tuesday
2    Wednesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
dtype: object

In [3]:
#my_data variable holds the 2 keys which are "name" and "age" used to create pandas dataFrame
my_data ={ 'Name': ['Manisha', 'Yogita',' Marina',' Andrews',' Ella'],
          'Age':[30,40,20,10,25]}

#DataFrame is created and is assigned to the variable "display"
#this dataFrame will have two colunms named "Name" and "Age"
display= pd.DataFrame(my_data)

#This shows the DataFrame before adding a new column.
print("before Adding Column:")
print(display)

#A separator is then printed for better visual separation of the output:
print("------------------------------------------")

#A message "After Adding Column" is printed to the console, to indicate that now a new column will be added:
print('After Adding Column')


#A new column named 'city' is added to the display DataFrame using bracket notation and assigned a list of strings
display['city']=['Mumbai', 'Pune', 'Nashik', 'Nashik','Aurangabad', 'Nagpur']

#Finally, the modified DataFrame is printed to the console, showing the added 'city' column
print(display)

before Adding Column:
      Name  Age
0  Manisha   30
1   Yogita   40
2   Marina   20
3  Andrews   10
4     Ella   25
------------------------------------------
After Adding Column
      Name  Age        city
0  Manisha   30      Mumbai
1   Yogita   40        Pune
2   Marina   20      Nashik
3  Andrews   10  Aurangabad
4     Ella   25      Nagpur

In [4]:
# Lab1: Suppose you are a teacher, and you want to analyze the exam scores of your
# students in a particular subject. You have recorded the scores of your students for a
# recent exam, and you want to represent this data using a Pandas Series.
# Input:
#there are two lists created called students and exam_scores

#students: This list holds the names of the students. Each name is a string.
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack']

#exam_scores: This list contains the numerical scores each student received. The order of scores corresponds to the order of the names in the students list.
exam_scores = [92, 88, 76, 94, 82, 90, 85, 89, 78, 91]


#pandas series is created and assigned to a variable named as exam_result
exam_result = pd.Series(exam_scores,students,name = "Student exam scores:")

#the code prints the Series
print(exam_result)

Alice      92
Bob        88
Charlie    76
David      94
Eve        82
Frank      90
Grace      85
Hannah     89
Ivy        78
Jack       91
Name: Student exam scores:, dtype: int64

In [5]:
# Lab2: Suppose you want to track and analyze your household expenses for a month.
# You have recorded the expenses for various categories, such as groceries, utilities, rent,
# transportation, and entertainment. You can represent this expense data using a Pandas
# Series.
# Input:

# Expense categories
categories = ['Groceries', 'Utilities', 'Rent', 'Transportation', 'Entertainment']

# Monthly expense data (example data in USD)
expenses = [500, 200, 1200, 300, 150]

#A Pandas 'Series' named 'analysis' is created.
#Expenses are data values while categories serve as an index for the series.
analysis = pd.Series(expenses,categories,name = "Monthly Expenses(USD)")
print(analysis)

Groceries          500
Utilities          200
Rent              1200
Transportation     300
Entertainment      150
Name: Monthly Expenses(USD), dtype: int64

In [12]:
# Lab3: Suppose you want to track and analyze the monthly energy consumption in your
# home. You have recorded the monthly energy usage for electricity and gas over a year,
# and you want to represent this data using Pandas Series.
# Input:
# Months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September', 'October', 'November', 'December']
# Monthly energy consumption data (example data in kilowatt-hours for electricity and therms for gas)
electricity_usage = [350, 320, 310, 330, 340, 370, 380, 360, 350, 330, 320, 330]
gas_usage = [20, 18, 16, 15, 12, 10, 8, 9, 12, 15, 17, 19]

#A dictionary is created to store the month and electricity usage. The keys are "Months"
#and "Electricity Usage", and the values are the months and electricity_usage lists, respectively.

monthly_electricity_consumption = {"Months":months,"Electricity Usage":electricity_usage}

#A dictionary is created to store the month and gas usage. The keys are "Months"
#and "Gas Usage", and the values are the months and gas_usage lists, respectively.

monthly_gas_consumption = {"Months":months,"Gas Usage":gas_usage}

#A pandas DataFrame named electricity_consumption is created using the
#monthly_electricity_consumption
#dictionary. This DataFrame represents the monthly electricity consumption data.

electricity_consumption= pd.DataFrame(monthly_electricity_consumption)

#dictionary. This DataFrame represents the monthly gas consumption data.
gas_consumption = pd.DataFrame(monthly_gas_consumption)

#the code prints the DataFrames:
print(electricity_consumption)
print("------------------------------------------------------")
print(gas_consumption)

       Months  Electricity Usage
0     January                350
1    February                320
2       March                310
3       April                330
4         May                340
5        June                370
6        July                380
7      August                360
8   September                350
9     October                330
10   November                320
11   December                330
------------------------------------------------------
       Months  Gas Usage
0     January         20
1    February         18
2       March         16
3       April         15
4         May         12
5        June         10
6        July          8
7      August          9
8   September         12
9     October         15
10   November         17
11   December         19

In [17]:
# Lab4:Suppose you are managing a website and want to analyze the monthly revenue
# generated from advertising. You have recorded the monthly revenue for the past year,
# and you want to represent this data using a Pandas Series.
# Input:

#Creating the months list:
# Months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
'September', 'October', 'November', 'December']

# Monthly advertising revenue data (example data in USD)
revenue = [5000, 5200, 4800, 5400, 5600, 5800, 6100, 5900, 6200, 6500, 7000, 6900]

#pandas series is used to print data in a 1D array
monthly_revenue = pd.Series(revenue,index=months,name ="Monthly Advertising Revenue(USD)")

#Printing the Series
print(monthly_revenue)

January      5000
February     5200
March        4800
April        5400
May          5600
June         5800
July         6100
August       5900
September    6200
October      6500
November     7000
December     6900
Name: Monthly Advertising Revenue(USD), dtype: int64